
<div class="site-content">
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li><a asp-controller="Home" asp-action="Curso">Cursos</a></li>
            <li class="active"><a>Actividades</a></li>
            <li><a onclick="javascript:detTareas()">Tareas</a></li>
            <li class="disabled"><a asp-controller="Home" asp-action="Documento">Documentos</a></li>
        </ul>
        <!-- inicio cuerpo-->

        <h2>Listado de Actividades</h2>
        <br />
        <div class="row">
            <div class="col-xs-4 col-md-1 form-group">
                <label>Curso :</label>
            </div>
            <div class="col-xs-8 col-md-2 form-group">
                <span id="spanCurso"></span>
            </div>
            <div class="col-xs-4 col-md-1 form-group">
                <label>Modalidad :</label>
            </div>
            <div class="col-xs-8 col-md-2 form-group">
                <span id="spanModalidad"></span>
            </div>
        </div>
        <input type="hidden" id="codigoCurso" value="4"/>

        <button type="button" class="btn btn-default btn-tarea disabled" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Asignar Tarea
        </button>

        <input type="hidden" value="" name="actividadSelected" id="actividadSelected" />
        <input type="hidden" value="@ViewData["codigoCurso"]" name="codigoCurso" id="codigoCurso" />

        <div class="table-responsive">
            <table id="tblActividades" class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Inicio</th>
                        <th>Fecha Fin</th>
                        <th>Avance</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tbodyResult">
                    <!--
                    <tr>
                        <td>Giacomo</td>
                        <td>Guilizzoni</td>
                        <td>33</td>
                        <td>Peldi</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModalEditActividad" data-rel="Guilizzoni">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModalDelActividad" data-rel="Guilizzoni">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    -->
                </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-default btn-tarea disabled" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Asignar Tarea
        </button>

        <!-- fin cuerpo-->

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    Registrar Tarea
                    <img src="~/images/Bb_learn_small.png" style="width:100px;float:right" />
                </h4>
            </div>
            <div class="modal-body">
                <form id="guardarTarea">
                    <div class="row">
                        <div class="col-xs-4 form-group">
                            <label>Curso :</label>
                        </div>
                        <div class="col-xs-8 form-group">
                            <input class="form-control" type="text" id="inputTareaCursoNombre" disabled/>
                            <input type="hidden" id="inputTareaCursoCodigo"/>
                            <!--
                            <select class="form-control" id="selectCurso">
                                <option>Seleccione</option>
                                <option value="1">Lógica</option>
                                <option value="2">Aritmética</option>
                                <option value="3">Algebra</option>
                                <option value="4">Lenguaje</option>
                            </select>
                                -->
                        </div>
                        <div class="col-xs-4 form-group">
                            <label>Actividad :</label>
                        </div>
                        <div class="col-xs-8 form-group">
                            <input class="form-control" type="text" id="inputTareaActividadNombre" disabled />
                            <input type="hidden" id="inputTareaActividadCodigo" />
                            <!--
                            <select class="form-control" id="selectActividad">
                                <option>Seleccione</option>
                                <option value="1">Análisis</option>
                            </select>
                            -->
                        </div>
                        <div class="col-xs-4 form-group">
                            <label>Titulo :</label>
                        </div>
                        <div class="col-xs-8 form-group">
                            <input class="form-control" type="text" id="inputTitulo"/>
                        </div>
                        <div class="col-xs-4 form-group">
                            <label>Prioridad :</label>
                        </div>
                        <div class="col-xs-8 form-group">
                            <select class="form-control" id="selectPrioridad">
                                <option>Seleccione</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                        <div class="col-xs-4 form-group">
                            <label>Estado :</label>
                        </div>
                        <div class="col-xs-8 form-group">
                            <select class="form-control" id="selectEstado">
                                <option>Seleccione</option>
                                <option>Activo</option>
                                <option>Inactivo</option>
                            </select>
                        </div>
                        <div class="col-xs-4 form-group">
                            <label>% Completado :</label>
                        </div>
                        <div class="col-xs-8 form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="inputCompletado">
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="col-xs-4 form-group">
                            <label>Asignado a :</label>
                        </div>
                        <div class="col-xs-8 form-group">
                            <input class="form-control" type="text" id="inputAsignado"/>
                        </div>
                        <div class="col-xs-4 form-group">
                            <label>Descripción :</label>
                        </div>
                        <div class="col-xs-8 form-group">
                            <textarea class="form-control" rows="3" id="textareaDesc"></textarea>
                        </div>
                        <div class="col-xs-4 form-group">
                            <label>Fecha Inicio :</label>
                        </div>
                        <div class="col-xs-8 form-group">
                            <input class="form-control" type="text" id="datepicker1">
                        </div>
                        <div class="col-xs-4 form-group">
                            <label>Fecha Fin :</label>
                        </div>
                        <div class="col-xs-8 form-group">
                            <input class="form-control" type="text" id="datepicker2">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnGuardarTarea">Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-sm" id="myModalDelActividad" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <label>Está seguro de eliminar esta Actividad</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="codActividadToDel"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnConfirmDelete">Si</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="myModalDelBadResult" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <label id="lblResult"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalEditActividad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    Actualizar Actividad
                    <img src="~/images/Bb_learn_small.png" style="width:100px;float:right" />
                </h4>
            </div>
            <div class="modal-body">
                <form id="guardarActividad">
                    <div class="row">
                        <div class="col-xs-4 form-group">
                            <label>Curso :</label>
                        </div>
                        <div class="col-xs-8 form-group">
                            <input type="text"   id="inputActivNombreCurso" class="form-control" disabled/>
                            <input type="hidden" id="inputActivCodigoCurso" />
                            <input type="hidden" id="inputActivCodigoActividad" />
                            <!--
                            <select class="form-control" id="selectActivCurso">
                                <option>Seleccione</option>
                                <option value="1">Lógica</option>
                                <option value="2">Aritmética</option>
                                <option value="3">Algebra</option>
                                <option value="4">Lenguaje</option>
                            </select>
                            -->
                        </div>
                        <div class="col-xs-4 form-group">
                            <label>Tipo :</label>
                        </div>
                        <div class="col-xs-8 form-group">
                            <select class="form-control" id="selectActivTipo">
                                <option>Seleccione</option>
                                <option value="1">Presencial</option>
                                <option value="2">Virtual</option>
                            </select>
                        </div>
                        <div class="col-xs-4 form-group">                            
                            <label>Titulo :</label>
                        </div>
                        <div class="col-xs-8 form-group">
                            <input class="form-control" type="text" id="inputActivTitulo" />
                        </div>
                        <div class="col-xs-4 form-group">
                            <label>Fecha Inicio :</label>
                        </div>
                        <div class="col-xs-8 form-group">
                            <input class="form-control" type="text" id="inputActivFecIni">
                        </div>
                        <div class="col-xs-4 form-group">
                            <label>Fecha Fin :</label>
                        </div>
                        <div class="col-xs-8 form-group">
                            <input class="form-control" type="text" id="inputActivFecFin">
                        </div>
                        <div class="col-xs-4 form-group">
                            <label>Sesión :</label>
                        </div>
                        <div class="col-xs-8 form-group">
                            <select class="form-control" id="selectActivSesion">
                                <option>Seleccione</option>
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                                <option value="4">04</option>
                            </select>
                        </div>
                        <div class="col-xs-4 form-group">
                            <label>Estado :</label>
                        </div>
                        <div class="col-xs-8 form-group">
                            <select class="form-control" id="selectActivEstado">
                                <option>Seleccione</option>
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                            </select>
                        </div>
                        <div class="col-xs-4 form-group">
                            <label>Descripción :</label>
                        </div>
                        <div class="col-xs-8 form-group">
                            <textarea class="form-control" rows="3" id="textareaActivDesc"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnGuardarActividad">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/actividad.js"></script>
}