
<div class="site-content">
    <div class="container-fluid">

        <!-- Inicio cuerpo -->
        <button type="button" class="btn btn-default" id="btnCancelar">Cancelar</button>
        <button type="button" class="btn btn-primary" id="btnGuardarCapacitacion">Guardar</button>
        <br /><br />
        <ul class="nav nav-tabs">
            <li><a onclick="javascript:crearCapa()">Ajustes Generales</a></li>
            <li class="active"><a onclick="javascript:crearTallerMaterial()">Taller & Materiales</a></li>
            <li><a onclick="javascript:crearParticipante()">Participantes</a></li>
        </ul>

        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Lista Materiales</div>
            <div class="panel-body">

                <input type="hidden" value="@ViewData["codigoCapa"]" name="codigoCapa" id="codigoCapa" />

                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Añadir Taller
                </button>
                <br><br>
                <div class="row">
                    <div class="col-xs-12 col-md-4 form-group">
                        <label>Nombre Capacitación</label>
                    </div>
                    <div class="col-xs-12 col-md-6 form-group">
                        <span id="spNombreCapacitacion"></span>
                    </div>
                </div>

                <input type="hidden" name="materialSelected" id="materialSelected"/>

                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div class="table-responsive">
                            <table id="tblMateriales" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre Documento</th>
                                        <th>Tipo Documento</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tBodyResult">
                                    <!--
                                    <tr>
                                        <td>Giacomo</td>
                                        <td>Guilizzoni</td>
                                        <td>
                                            <button type="button" class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Guido Jack</td>
                                        <td>Guilizzoni</td>
                                        <td>
                                            <button type="button" class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Mariah</td>
                                        <td>Maclachlan</td>
                                        <td>
                                            <button type="button" class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs">
                                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Fin cuerpo -->
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">
                            Listado de talleres
                            <img src="~/images/Bb_learn_small.png" style="width:100px;float:right" />
                        </h4>
                    </div>
                    <div class="modal-body">

                        <span>* Seleccione una fila para cargar los materiales del taller</span>

                        <input type="hidden" id="tallerSelected" name="tallerSelected"/>

                        <div class="row">
                            <div class="col-xs-12 col-md-8">
                                <div class="table-responsive">
                                    <table id="tblTalleres" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Nombre Taller</th>
                                            </tr>
                                        </thead>
                                        <tbody id="modalTBodyResult">
                                            <!--
                                            <tr>
                                                <td>T001</td>
                                                <td>Guilizzoni</td>
                                            </tr>
                                            <tr>
                                                <td>T002</td>
                                                <td>Guilizzoni</td>
                                            </tr>
                                            <tr>
                                                <td>T003</td>
                                                <td>Maclachlan</td>
                                            </tr>
                                            -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin Modal -->

@section scripts{
    <script src="~/js/notie.js"></script>
    <script src="~/js/crearcapa2.js"></script>
}